node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Android
*.apk
*.aab
*.hprof
.gradle
/build/
/android/app/debug
/android/app/release
android/.gradle
android/build
android/app/build

# iOS
/ios/Pods/
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files
*.log
*.tmp
*.temp

# EAS
google-service-account.json
